In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
import math

import us
import plotly.graph_objects as go
import gmaps

import folium
from folium import plugins

from IPython.display import display
from PIL import Image

pd.set_option('display.max_columns', None)

%matplotlib inline

C:\Users\kekay\anaconda3\envs\learn-env\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
market_df = pd.read_csv('data/cleaned_market_df.csv')
county_df = pd.read_csv('data/cleaned_county_df.csv')

In [3]:
market_df.head()

,MarketName,street,city,County,State,zip,x,y,Credit,WIC,WICcash,SFMNP,SNAP,has_website,Is market,Produce,Confectionary,Household,Dairy,Plants,Meat,Other,product_count,alt_pay_methods
0,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037,1,1,0,1,0,1,1,5.0,4.0,3.0,2.0,2.0,2.0,2.0,20.0,2
1,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802,1,0,0,1,0,1,1,3.0,4.0,2.0,1.0,1.0,1.0,0.0,12.0,1
2,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628,1,0,0,0,0,0,1,3.0,3.0,2.0,1.0,1.0,2.0,1.0,13.0,0
3,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900,0,0,1,1,0,0,1,3.0,3.0,2.0,0.0,1.0,0.0,1.0,10.0,2
4,12 South Farmers Market,3000 Granny White Pike,Nashville,Davidson,Tennessee,37204,-86.790710,36.118370,1,0,0,0,1,1,1,4.0,5.0,2.0,2.0,1.0,2.0,2.0,18.0,1

# Markets by State DF

In [4]:
total_market = market_df.groupby(["State"])["MarketName"].value_counts().groupby(["State"]).sum().sort_values(ascending=False).reset_index()
total_market = pd.DataFrame(total_market)
total_market.rename(columns={"MarketName": "Number of Markets"}, inplace=True)

In [5]:
total_market.head()

           State  Number of Markets
0       New York                492
1     California                459
2  Massachusetts                252
3       Michigan                247
4       Missouri                221

In [6]:
max_product_count = market_df.groupby(["State"])["product_count"].value_counts().groupby(["State"]).max().sort_values(ascending=False).reset_index()
max_product_count = pd.DataFrame(max_product_count)
max_product_count.rename(columns={"product_count": "Max Product Count"}, inplace=True)

In [7]:
max_product_count.head()

           State  Max Product Count
0     California                 37
1       New York                 37
2       Missouri                 29
3  Massachusetts                 25
4      Wisconsin                 25

In [8]:
min_product_count = market_df.groupby(["State"])["product_count"].value_counts().groupby(["State"]).min().sort_values(ascending=False).reset_index()
min_product_count = pd.DataFrame(min_product_count)
min_product_count.rename(columns={"product_count": "Min Product Count"}, inplace=True)

In [9]:
min_product_count.head()

           State  Min Product Count
0        Wyoming                  1
1       Missouri                  1
2      Minnesota                  1
3       Michigan                  1
4  Massachusetts                  1

In [10]:
state_counts_df = total_market.copy()

In [11]:
state_counts_df = state_counts_df.merge(max_product_count, on='State')
state_counts_df = state_counts_df.merge(min_product_count, on='State')

In [12]:
state_counts_df.head()

           State  Number of Markets  Max Product Count  Min Product Count
0       New York                492                 37                  1
1     California                459                 37                  1
2  Massachusetts                252                 25                  1
3       Michigan                247                 24                  1
4       Missouri                221                 29                  1

# Locations

In [13]:
# list of all the unique states in the data set
states = list(county_df['State'].unique())

states_coded = []

# obtains the FIPS code from state name
for state in states:
    states_coded.append(us.states.lookup(state).abbr)

In [14]:
# ready to create state-level data set
state_info = pd.DataFrame()

# retain state names in state-level data set for reference
state_info['State'] = states

# FIPS code of each state
state_info['State code'] = states_coded

# variables to be included in new data set
cols = ['Per capita income', 'Population', 'Number of households', 'Number of markets']

# initialisation
for var in cols:
    state_info[var] = ''

temp = []

# computation for state-level variables
for i in range(len(states)):
    num_household = 0
    
    # dataframe of all counties in state state[i]
    state_df = pd.DataFrame(county_df.loc[county_df['State'] == states[i], :]).reset_index()
    
    total_popn = sum(state_df['population'])
    state_info.loc[i, 'Population'] = total_popn
    state_info.loc[i, 'Number of households'] = state_df['number of households'].sum()
    state_info.loc[i, 'Number of markets'] = market_df[market_df['State'] == states[i]].shape[0]
    temp += [round(state_df['per capita income'].dot(state_df['population'] / total_popn))]

state_info['Per capita income'] = temp
state_info['Per capita income'] = state_info['Per capita income'].astype(int)

state_info.head()

,State,State code,Per capita income,Population,Number of households,Number of markets
0,New York,NY,32382,19487053,7234743,492
1,Virginia,VA,33493,8100653,3022739,205
2,California,CA,29527,37659181,12542460,459
3,Colorado,CO,31109,5119329,1977591,102
4,New Mexico,NM,23763,2069706,761938,48

# Visualizations

In [17]:
# input: a dataframe containing longitude and latitude values and the variable you wish to visualise
# output: a corresponding heatmap
def plot_gmaps(df, var):
    # obtain your own API key with the link above
    API_KEY = "AIzaSyASaGQnUwblymrKR7Rvw1SYQwpbMnhZUtQ"
    gmaps.configure(api_key=API_KEY)
    
    # a dataframe of longitude and latitudes, this dataframe cannot have missing values
    valid_df = df.loc[~df['x'].isnull(), ['x', 'y', var]]
    
    m = gmaps.Map()
    
    # adding a heatmap layer on top on Google Maps
    heatmap_layer = gmaps.heatmap_layer(
        valid_df[['y','x']], 
        
        # we divide the variable by its max value to ensure all variable have a scale of [0,1]
        # this prevents the heatmap from looking more saturated for a variables with larger scale
        weights=valid_df[var] / valid_df[var].max(),
        max_intensity=100, 
        point_radius=20.0
    )
    m.add_layer(heatmap_layer)
    
    return m

In [18]:
plot_gmaps(market_df, 'Is market')

Map(configuration={'api_key': 'AIzaSyASaGQnUwblymrKR7Rvw1SYQwpbMnhZUtQ'}, data_bounds=[(30.425586989096693, -1…