In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
market_df = pd.read_csv('data/farmers_markets_from_usda.csv')

# Market DF

In [3]:
market_df.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,State,zip,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time,x,y,Location,Credit,WIC,WICcash,SFMNP,SNAP,Organic,Bakedgoods,Cheese,Crafts,Flowers,Eggs,Seafood,Herbs,Vegetables,Honey,Jams,Maple,Meat,Nursery,Nuts,Plants,Poultry,Prepared,Soap,Trees,Wine,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
0,1018261,Caledonia Farmers Market Association - Danville,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,NaN,NaN,NaN,NaN,Danville,Caledonia,Vermont,5828,06/14/2017 to 08/30/2017,Wed: 9:00 AM-1:00 PM;,09/06/2017 to 10/18/2017,Wed: 2:00 PM-6:00 PM;,NaN,NaN,NaN,NaN,-72.140335,44.411037,NaN,Y,Y,N,Y,N,Y,Y,Y,Y,Y,Y,N,Y,Y,Y,Y,Y,Y,N,N,N,Y,Y,Y,Y,N,Y,Y,Y,N,N,Y,Y,N,N,6/20/2017 22:43
1,1018318,Stearns Homestead Farmers' Market,http://www.StearnsHomestead.com,StearnsHomesteadFarmersMarket,NaN,NaN,NaN,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,06/24/2017 to 09/30/2017,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN,-81.733940,41.374802,NaN,Y,N,N,Y,N,-,Y,N,Y,Y,Y,N,Y,Y,Y,Y,Y,N,N,N,N,Y,N,Y,N,N,N,N,Y,N,N,N,N,N,N,6/21/2017 17:15
2,1009364,106 S. Main Street Farmers Market,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-82.818703,34.804199,NaN,Y,N,N,N,N,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
3,1010691,10th Steet Community Farmers Market,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...,10th Street and Poplar,Lamar,Barton,Missouri,64759,04/02/2014 to 11/30/2014,Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN,-94.274620,37.495628,NaN,Y,N,N,N,N,-,Y,N,Y,N,Y,N,Y,Y,Y,Y,N,Y,N,N,Y,Y,Y,Y,N,N,N,N,Y,N,N,N,N,N,N,10/28/2014 9:49
4,1002454,112st Madison Avenue,NaN,NaN,NaN,NaN,NaN,112th Madison Avenue,New York,New York,New York,10029,July to November,Tue:8:00 am - 5:00 pm;Sat:8:00 am - 8:00 pm;,NaN,NaN,NaN,NaN,NaN,NaN,-73.949303,40.793900,Private business parking lot,N,N,Y,Y,N,-,Y,N,Y,Y,N,N,Y,Y,Y,Y,N,N,N,Y,N,N,Y,Y,N,N,N,N,N,N,N,N,N,N,N,3/1/2012 10:38

In [4]:
market_df.columns

Index(['FMID', 'MarketName', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'OtherMedia', 'street', 'city', 'County', 'State', 'zip', 'Season1Date',
       'Season1Time', 'Season2Date', 'Season2Time', 'Season3Date',
       'Season3Time', 'Season4Date', 'Season4Time', 'x', 'y', 'Location',
       'Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP', 'Organic', 'Bakedgoods',
       'Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
       'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu',
       'WildHarvested', 'updateTime'],
      dtype='object')

In [5]:
random_cols = ['FMID', 'updateTime']

In [6]:
market_df.drop(columns=random_cols, axis=1, inplace=True)

## Investigate time columns

In [7]:
time_cols = ['Season1Date', 'Season1Time', 'Season2Date', 'Season2Time', 
             'Season3Date', 'Season3Time', 'Season4Date', 'Season4Time']

In [8]:
time_df = market_df.copy()

In [9]:
time_df = time_df[time_cols]
time_df

,Season1Date,Season1Time,Season2Date,Season2Time,Season3Date,Season3Time,Season4Date,Season4Time
0,06/14/2017 to 08/30/2017,Wed: 9:00 AM-1:00 PM;,09/06/2017 to 10/18/2017,Wed: 2:00 PM-6:00 PM;,NaN,NaN,NaN,NaN
1,06/24/2017 to 09/30/2017,Sat: 9:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04/02/2014 to 11/30/2014,Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
4,July to November,Tue:8:00 am - 5:00 pm;Sat:8:00 am - 8:00 pm;,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8799,07/04/2014 to 10/24/2014,Fri: 4:00 PM-7:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8800,06/06/2017 to 10/03/2017,Tue: 2:30 PM-6:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8801,05/07/2016 to 10/15/2016,Sat: 9:00 AM-12:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN
8802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8803,06/01/2015 to 09/30/2015,Tue: 4:00 PM-8:00 PM;,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
time_df.isna().sum()

Season1Date    3107
Season1Time    2940
Season2Date    8339
Season2Time    8348
Season3Date    8726
Season3Time    8729
Season4Date    8799
Season4Time    8799
dtype: int64

### Drop time columns

In [11]:
market_df.drop(columns=time_cols, axis=1, inplace=True)

## Investigate Social Media

In [12]:
social_cols = ['Website', 'Facebook', 'Twitter', 'Youtube', 'OtherMedia']

In [13]:
social_df = market_df.copy()

In [14]:
social_df = social_df[social_cols]
social_df.head()

,Website,Facebook,Twitter,Youtube,OtherMedia
0,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,NaN,NaN,NaN
1,http://www.StearnsHomestead.com,StearnsHomesteadFarmersMarket,NaN,NaN,NaN
2,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...
4,NaN,NaN,NaN,NaN,NaN

In [15]:
social_df.isna().sum()

Website       3513
Facebook      4614
Twitter       7778
Youtube       8636
OtherMedia    7933
dtype: int64

### Drop all social; create boolean feature for website

- Websites are String objects
- Nulls are float objects

In [16]:
def new_col_boolean(dfName, colName, valType):
    new_col = []
    for val in dfName[colName]:
        if (type(val)) == valType:
            new_col.append(1)
        else:
            new_col.append(0)
    return new_col

In [17]:
market_df['has_website'] = new_col_boolean(market_df, 'Website', str)

In [18]:
cols = ['Website', 'has_website']
market_df[cols].head()

                                             Website  has_website
0  https://sites.google.com/site/caledoniafarmers...            1
1                    http://www.StearnsHomestead.com            1
2             http://thetownofsixmile.wordpress.com/            1
3                                                NaN            0
4                                                NaN            0

In [19]:
market_df['has_website'].value_counts()

1    5291
0    3513
Name: has_website, dtype: int64

In [20]:
market_df.drop(columns=social_cols, axis=1, inplace=True)
market_df.head()

,MarketName,street,city,County,State,zip,x,y,Location,Credit,WIC,WICcash,SFMNP,SNAP,Organic,Bakedgoods,Cheese,Crafts,Flowers,Eggs,Seafood,Herbs,Vegetables,Honey,Jams,Maple,Meat,Nursery,Nuts,Plants,Poultry,Prepared,Soap,Trees,Wine,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,has_website
0,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037,NaN,Y,Y,N,Y,N,Y,Y,Y,Y,Y,Y,N,Y,Y,Y,Y,Y,Y,N,N,N,Y,Y,Y,Y,N,Y,Y,Y,N,N,Y,Y,N,N,1
1,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802,NaN,Y,N,N,Y,N,-,Y,N,Y,Y,Y,N,Y,Y,Y,Y,Y,N,N,N,N,Y,N,Y,N,N,N,N,Y,N,N,N,N,N,N,1
2,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,-82.818703,34.804199,NaN,Y,N,N,N,N,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628,NaN,Y,N,N,N,N,-,Y,N,Y,N,Y,N,Y,Y,Y,Y,N,Y,N,N,Y,Y,Y,Y,N,N,N,N,Y,N,N,N,N,N,N,0
4,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900,Private business parking lot,N,N,Y,Y,N,-,Y,N,Y,Y,N,N,Y,Y,Y,Y,N,N,N,Y,N,N,Y,Y,N,N,N,N,N,N,N,N,N,N,N,0

## Investigate Location cols

In [21]:
location_cols = ['street', 'city', 'County', 'State', 'zip', 'x', 'y', 'Location']

In [22]:
location_df = market_df.copy()

In [23]:
location_df = location_df[location_cols]
location_df.head()

,street,city,County,State,zip,x,y,Location
0,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037,NaN
1,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802,NaN
2,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,-82.818703,34.804199,NaN
3,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628,NaN
4,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900,Private business parking lot

In [24]:
location_df.isna().sum()

street       287
city          40
County        36
State          0
zip          948
x             28
y             28
Location    6290
dtype: int64

### Drop Location column

In [25]:
market_df.drop(columns='Location', axis=1, inplace=True)
market_df.head()

,MarketName,street,city,County,State,zip,x,y,Credit,WIC,WICcash,SFMNP,SNAP,Organic,Bakedgoods,Cheese,Crafts,Flowers,Eggs,Seafood,Herbs,Vegetables,Honey,Jams,Maple,Meat,Nursery,Nuts,Plants,Poultry,Prepared,Soap,Trees,Wine,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,has_website
0,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037,Y,Y,N,Y,N,Y,Y,Y,Y,Y,Y,N,Y,Y,Y,Y,Y,Y,N,N,N,Y,Y,Y,Y,N,Y,Y,Y,N,N,Y,Y,N,N,1
1,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802,Y,N,N,Y,N,-,Y,N,Y,Y,Y,N,Y,Y,Y,Y,Y,N,N,N,N,Y,N,Y,N,N,N,N,Y,N,N,N,N,N,N,1
2,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,-82.818703,34.804199,Y,N,N,N,N,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628,Y,N,N,N,N,-,Y,N,Y,N,Y,N,Y,Y,Y,Y,N,Y,N,N,Y,Y,Y,Y,N,N,N,N,Y,N,N,N,N,N,N,0
4,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900,N,N,Y,Y,N,-,Y,N,Y,Y,N,N,Y,Y,Y,Y,N,N,N,Y,N,N,Y,Y,N,N,N,N,N,N,N,N,N,N,N,0

### Maintain Continental U.S. Data

In [26]:
state_drop = ['Puerto Rico', 'Alaska', 'Hawaii']

In [27]:
market_df = market_df[~market_df['State'].isin(state_drop)]

## Binary Product Columns

In [28]:
market_df['Has Market'] = [1]*market_df.shape[0]

In [29]:
product_cols = ['Organic', 'Bakedgoods', 'Cheese', 'Crafts', 'Flowers', 'Eggs', 
                'Seafood', 'Herbs', 'Vegetables', 'Honey', 'Jams', 'Maple', 'Meat', 
                'Nursery', 'Nuts', 'Plants', 'Poultry', 'Prepared', 'Soap', 'Trees', 
                'Wine', 'Coffee', 'Beans', 'Fruits', 'Grains', 'Juices', 
                'Mushrooms', 'PetFood', 'Tofu', 'WildHarvested']

In [30]:
for product in product_cols:
    try:
        market_df[product] = market_df[product].replace(to_replace=['Y', 'N'], value=[1,0])
    except:
        continue

In [31]:
market_df.head()

,MarketName,street,city,County,State,zip,x,y,Credit,WIC,WICcash,SFMNP,SNAP,Organic,Bakedgoods,Cheese,Crafts,Flowers,Eggs,Seafood,Herbs,Vegetables,Honey,Jams,Maple,Meat,Nursery,Nuts,Plants,Poultry,Prepared,Soap,Trees,Wine,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,has_website,Has Market
0,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037,Y,Y,N,Y,N,1,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1,1
1,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802,Y,N,N,Y,N,-,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
2,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,-82.818703,34.804199,Y,N,N,N,N,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628,Y,N,N,N,N,-,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
4,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900,N,N,Y,Y,N,-,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1

# Categories

In [32]:
products_df = pd.DataFrame()

In [33]:
new_products = {'Produce': ['Vegetables', 'Fruits', 'Mushrooms', 'WildHarvested', 'Beans', 'Grains', 'Herbs', 'Organic', 'Nuts'],
              'Confectionary': ['Bakedgoods', 'Honey', 'Jams', 'Maple', 'Juices'],
              'Household': ['Crafts', 'Soap', 'PetFood'],
              'Dairy': ['Cheese', 'Eggs', 'Tofu'],
              'Plants': ['Flowers', 'Nursery', 'Plants', 'Trees'],
              'Meat': ['Seafood','Meat', 'Poultry'],
              'Other': ['Wine', 'Prepared', 'Coffee']}

In [34]:
for product in new_products.keys():
    try:
        products_df[product] = market_df.loc[:,new_products[product]].sum(1)
    except:
        print(product)
        
products_df['product_count'] = products_df.sum(1)

In [35]:
products_df.head()

,Produce,Confectionary,Household,Dairy,Plants,Meat,Other,product_count
0,5.0,4.0,3.0,2.0,2.0,2.0,2.0,20.0
1,3.0,4.0,2.0,1.0,1.0,1.0,0.0,12.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,3.0,2.0,1.0,1.0,2.0,1.0,13.0
4,3.0,3.0,2.0,0.0,1.0,0.0,1.0,10.0

In [36]:
market_df = market_df.drop(columns=product_cols)
market_df = pd.concat([market_df, products_df], axis=1)

In [37]:
market_df = market_df.loc[market_df['product_count'] != 0.0]
market_df.head()

,MarketName,street,city,County,State,zip,x,y,Credit,WIC,WICcash,SFMNP,SNAP,has_website,Has Market,Produce,Confectionary,Household,Dairy,Plants,Meat,Other,product_count
0,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037,Y,Y,N,Y,N,1,1,5.0,4.0,3.0,2.0,2.0,2.0,2.0,20.0
1,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802,Y,N,N,Y,N,1,1,3.0,4.0,2.0,1.0,1.0,1.0,0.0,12.0
3,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628,Y,N,N,N,N,0,1,3.0,3.0,2.0,1.0,1.0,2.0,1.0,13.0
4,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900,N,N,Y,Y,N,0,1,3.0,3.0,2.0,0.0,1.0,0.0,1.0,10.0
5,12 South Farmers Market,3000 Granny White Pike,Nashville,Davidson,Tennessee,37204,-86.790710,36.118370,Y,N,N,N,Y,1,1,4.0,5.0,2.0,2.0,1.0,2.0,2.0,18.0

## Payment Methods

In [38]:
payment_methods = ['Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP']
for payment_method in payment_methods:
    try:
        market_df[payment_method] = market_df[payment_method].replace(to_replace=['Y', 'N'], value=[1,0])
    except:
        continue
market_df['alt_pay_methods'] = market_df.loc[:, 'WIC':'SNAP'].sum(1)

In [39]:
market_df.head()

,MarketName,street,city,County,State,zip,x,y,Credit,WIC,WICcash,SFMNP,SNAP,has_website,Has Market,Produce,Confectionary,Household,Dairy,Plants,Meat,Other,product_count,alt_pay_methods
0,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037,1,1,0,1,0,1,1,5.0,4.0,3.0,2.0,2.0,2.0,2.0,20.0,2
1,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802,1,0,0,1,0,1,1,3.0,4.0,2.0,1.0,1.0,1.0,0.0,12.0,1
3,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628,1,0,0,0,0,0,1,3.0,3.0,2.0,1.0,1.0,2.0,1.0,13.0,0
4,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900,0,0,1,1,0,0,1,3.0,3.0,2.0,0.0,1.0,0.0,1.0,10.0,2
5,12 South Farmers Market,3000 Granny White Pike,Nashville,Davidson,Tennessee,37204,-86.790710,36.118370,1,0,0,0,1,1,1,4.0,5.0,2.0,2.0,1.0,2.0,2.0,18.0,1

##### The code used for division of products is a variation of a method found in a Kaggle notebook found here: https://www.kaggle.com/tyqiangz/visualisations-using-heatmaps-of-the-usa

In [40]:
market_df.to_csv('data/cleaned_market_df.csv', index=0)