In [4]:
import pandas as pd

In [3]:
county_df = pd.read_csv('data/county_info.csv')

# County DF

In [5]:
county_df.head()

,number,county,State,per capita income,median household income,median family income,population,number of households
0,1,New York County,New York,"$62,498","$69,659","$84,627","1,605,272","736,192"
1,2,Arlington,Virginia,"$62,018","$103,208","$139,244","214,861","94,454"
2,3,Falls Church City,Virginia,"$59,088","$120,000","$152,857","12,731","5,020"
3,4,Marin,California,"$56,791","$90,839","$117,357","254,643","102,912"
4,5,Alexandria City,Virginia,"$54,608","$85,706","$107,511","143,684","65,369"

In [8]:
print('shape')
print(county_df.shape)
print('-' *40)
county_df.columns

shape
(3233, 8)
----------------------------------------

Index(['number', 'county', 'State', 'per capita income',
       'median household income', 'median family income', 'population',
       'number of households'],
      dtype='object')

In [12]:
county_df.isna().sum()

number                     3
county                     5
State                      2
per capita income          0
median household income    2
median family income       2
population                 2
number of households       2
dtype: int64

In [13]:
county_df.loc[county_df['number of households'] == 0]

Empty DataFrame
Columns: [number, county, State, per capita income, median household income, median family income, population, number of households]
Index: []