In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

import plotly.express as px

pd.set_option('display.max_columns', None)

%matplotlib inline

C:\Users\kekay\anaconda3\envs\learn-env\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('data/model_df.csv')
df.head()

,County,State,per capita income,median household income,median family income,population,number of households,x,y,Has Market,state_nums
0,"AL, Cullman",Alabama,20760,38847,47103,80499,31342,-86.844284,34.179405,1.0,1
1,"AL, Winston",Alabama,18995,32900,41113,24342,9489,-87.608253,34.231731,1.0,1
2,"AL, Clarke",Alabama,18979,29357,45518,25573,9631,-87.776726,31.709833,1.0,1
3,"AL, Henry",Alabama,21924,41650,54725,17308,7001,0.000000,0.000000,0.0,1
4,"AL, Franklin",Alabama,18888,36415,46536,31666,12437,-88.143646,34.439522,1.0,1

In [3]:
fig = px.choropleth(df, locations='state code', locationmode='USA-states', 
                    color='population', scope='usa', color_continuous_scale='Oranges')
print('Number of Markets by State')
fig.show()

ValueError: Value of 'locations' is not the name of a column in 'data_frame'. Expected one of ['County', 'State', 'per capita income', 'median household income', 'median family income', 'population', 'number of households', 'x', 'y', 'Has Market', 'state_nums'] but received: state code